article {
    background: var(--base1);
    padding: var(--font-height) var(--main-margin);
}

article.archive {
    padding: var(--font-height) var(--main-margin) calc(2 * var(--font-height)) var(--main-margin);
}

article.content {
    border: 1px solid var(--base8);
    box-shadow: 5px 5px var(--base5);
}

article a {
    border-bottom: 2px dashed var(--base3);
}

article a:hover {
    background: var(--base2);
    border: 0px;
}

article a:active {
    background-color: var(--base3);
}

article > *  {
    margin: var(--font-width) 0px;
}

.credits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px var(--font-width) 0px;
}

.credits > .author {
    grid-column: 1;
    justify-self: left;
}

.credits > .date {
    grid-column: 2;
    justify-self: right;
}

article p > em, article a > em {
    color: var(--blue);
}

article p > strong, article a > strong {
    color: var(--yellow);
}

article p > em > strong, article a > em > strong {
    color: var(--red);
}

blockquote {
    border-left: 4px solid var(--base6);
    padding: 0px;
    padding-left: calc(var(--font-width) * 2);
    margin: var(--font-width) 0px var(--font-width) 0px;
}

blockquote > * {
    margin: 0px;
}

figure > pre {
    font: inherit;
    margin: 0;
    margin-left: var(--font-width);
}

code {
    font: inherit;
}

h1 {
    white-space:pre;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}

ul, li {
    margin: 0px;
}

ul {
    list-style: none;
    padding-left: calc(3 * var(--font-width));
}

ul > li::marker {
    content: "▷ ";
}

figure {
    display: flex;
    flex-direction: column;
}

img::after {
    /* TODO */
    content: "Broken";
}

figure > img {
    box-shadow: 3px 3px var(--base6);
}

figure > canvas, .highlight {
    border-bottom: 2px dashed var(--base6);
    border-top: 2px dashed var(--base6);
}

p.fig-connector {
    margin: 0px;
    color: var(--base6);
}

article {
    counter-reset: section;
}

article.archive {
    position: relative;
}

article.archive::after {
    content: "█ Property of the HRI";
    position: absolute;
    bottom: 0;
    left: 0;
}

article h2 {
    counter-increment: section 1;
    counter-reset: subsect figure;

    display: flex;
    flex-direction: row;
}

article h3 {
    counter-increment: subsect 1;

    display: flex;
    flex-direction: row;
}

article figure {
    counter-increment: figure 1;
}

article figure > figcaption {
    display: flex;
    flex-direction: row;
    word-wrap: none;
    text-wrap: nowrap;
}

article figure > figcaption > p {
    margin: 0px;
    text-wrap: wrap;
}

article h2::before {
    content: "⟨" counter(section, upper-roman) "⟩\00a0";
    text-wrap: nowrap;
}

article h3::before {
    content: "⟨" counter(section, upper-roman) "." counter(subsect, lower-greek) "⟩\00a0";
    text-wrap: nowrap;
}

article h4::before {
    content: "├♩⟩\00a0";
    text-wrap: nowrap;
}

article h5::before {
    content: "├─♪⟩\00a0";
    text-wrap: nowrap;
}

article h6::before {
    content: "├──♬⟩\00a0";
    text-wrap: nowrap;
}

article h4::after, article h5::after, article h6::after {
    content: ":";
}

article figure > figcaption::before {
    content: "\00a0\00a0└─►\00a0";
    text-wrap: nowrap;
    color: var(--base6);
}

article sup {
    font-size: inherit; 
    vertical-align: inherit;
}

canvas.pixeltex {
    width: var(--img-max-width);
    image-rendering: pixelated;
}

.lab-canvas-container {
    width: var(--img-max-width) !important;
    height: calc(var(--img-max-width) * 3 / 4) !important;
}

.chroma {
    overflow: scroll;
}

.highlight pre, .highlight code {
    font-family: Departure Mono, monospace;
}

.wip {
    width: 100%;
    height: calc(3 * var(--font-height));
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: repeating-linear-gradient( 225deg, var(--base4) 0 16px, transparent 16px 32px );
    background-repeat: no-repeat;
}

.wip p {
    background: var(--base1);
    margin: 0;
}


a.close {
    position: absolute;
    right: calc(2 * var(--font-width));
    top: var(--font-width);

    display: grid;
    grid-template-columns: auto 1fr;

    z-index: 9;
}


.close .close-symbol {
    grid-column: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.close .close-txt {
    grid-column: 2;
    padding: 0px calc(2 * var(--font-width)) 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Notebook CSS */

.spectrogram-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr calc(2 * var(--font-height));
    grid-template-columns: calc(5 * var(--font-width)) 1fr;
}

.spectrogram-container svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.spectrogram-container text {
    font-size: 1rem;
    font-family: "Departure Mono";
}

.spectrogram-container .spectrogram-view {
    grid-row: 1;
    grid-column: 2;
}

.spectrogram-container .spectrogram-x-axis {
    grid-row: 2;
    grid-column: 2;
}

.spectrogram-container .spectrogram-y-axis {
    grid-row: 1;
    grid-column: 1;
}